.main-container {
    height: 100vh;
}

.banner-top {
    height: 30vh;
    background: #2a5b9b;
    background: linear-gradient(
        90deg,
        rgba(42, 91, 155, 1) 0%,
        rgba(87, 122, 199, 1) 75%,
        rgba(110, 117, 211, 1) 83%,
        rgba(165, 83, 237, 1) 100%
    );
    border-radius: 10px;

    .banner-button {
    }
}

.center-content {
    .left-text {
        width: 25vw;
        font-size: 1vw;
    }

    .service-card {
        background: #2a5b9b;
        background: linear-gradient(
            90deg,
            rgba(42, 91, 155, 1) 0%,
            rgba(87, 122, 199, 1) 75%,
            rgba(110, 117, 211, 1) 83%,
            rgba(165, 83, 237, 1) 100%
        );
        width: 15vw;
        height: 30vh;
        color: white;
        font-size: 1.5vw;
    }
    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 576px) {
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
    }

    /* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
    }

    /* XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {
    }
}
