button {
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: royalblue;
}

.nav-list {
    list-style-type: none;
    .nav-item {
        font-weight: 600;
        a {
            color: #ffffff;
        }
    }
}

.active {
    color: blueviolet;
}
