* {
    box-sizing: border-box;
}
html {
    height: fit-content;
}
.banner-top {
    width: 100%;
    height: fit-content;
    background: #2a5b9b;
    background: linear-gradient(
        90deg,
        rgba(42, 91, 155, 1) 0%,
        rgba(87, 122, 199, 1) 75%,
        rgba(110, 117, 211, 1) 83%,
        rgba(165, 83, 237, 1) 100%
    );
}
button {
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: royalblue;
}

.nav-list {
    list-style-type: none;
    .nav-item {
        font-weight: 600;

        a {
            color: #ffffff;
        }
        :hover {
            text-decoration: underline;
        }
    }
}

.active {
    color: blueviolet;
}
