* {
    box-sizing: border-box;
}
html {
    height: fit-content;
}
.banner-top {
    width: 100%;
    height: fit-content;
    background: #2a5b9b;
    background: linear-gradient(
        90deg,
        rgba(42, 91, 155, 1) 0%,
        rgba(87, 122, 199, 1) 75%,
        rgba(110, 117, 211, 1) 83%,
        rgba(165, 83, 237, 1) 100%
    );
    font-size: 1.5rem;
}

.banner-text {
    font-size: 1.5em;
}

.logo-image {
    width: 10vw;
}

.admin-login-link {
    font-size: 0.4em;
    text-decoration: none;
    :hoveer {
        text-decoration: underline;
    }
}

button {
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: royalblue;
}

.nav-list {
    list-style-type: none;
    .nav-item {
        font-weight: 600;

        a {
            color: #ffffff;
        }
        :hover {
            text-decoration: underline;
        }
    }
}

.active {
    color: blueviolet;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 360px) and (max-width: 763px) {
    .banner-top {
        font-size: 0.5rem;
    }

    .logo-image {
        width: 12vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .banner-top {
        font-size: 1rem;
    }

    .logo-image {
        width: 15vw;
    }
}

@media only screen and (min-width: 578px) and (max-width: 764px) and (orientation: portrait) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .banner-top {
        font-size: 1.2rem;
    }

    .logo-image {
        width: 15vw;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
